{% extends "base.html.twig" %}

{% trans_default_domain "index" %}

{% block title %}{{ "index.title"|trans }}{% endblock %}
{% block description %}{{ "index.description"|trans }}{% endblock %}

{% block content %}
    <div id="app"></div>
{% endblock %}
