$grid-gutter-width: 10px;
$border-radius: .10rem;
$card-spacer-y: .25rem;
$card-spacer-x: .5rem;
@import "~bootstrap/scss/bootstrap.scss";

@import '~bootstrap-vue/src/index.scss';

@import "~noty/src/noty.scss";
@import "~noty/src/themes/bootstrap-v4.scss";

@import "~@fortawesome/fontawesome-svg-core/styles.css";

@import '~flatpickr/dist/flatpickr.css';

html, body {
  height: 100%;
}
